/* fundo */

body {
    background-image: url("/assets/fundo.jpeg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
   }

.apresentacao {
    align-items: center;
    justify-content: center;
}

.apresentacao__div {
    padding: 0% 0% 0% 25%;
    align-items: center;
    justify-content: center;
    width: 720px;
    height: 600px;
}

.jogo {
    width: 720px;
    height: 600px;
}

@media (max-width: 600px) {
   
    .apresentacao__div {
        padding: 0%;
        width: 400px;
        height: 700px;
    }

    .jogo {
        width: 400px;
        height: 700px;
    }
}